{%extends 'base.html'%}
{% block content %}
<div class="w3-container" id="search">

    <div class="w3-row">
        {% if searched_hood %}
        <h2>Found {{ searched_hood|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 hood for the search term {{message}}</h2>
        {% endif %}
    </div>

    <div class="w3-row">
        {% if searched_hood %}
        {% for hood in searched_hood %}

        <div class="w3-col l4 m6 s12 w3-padding">
            <div class="w3-card-4 w3-white" style="padding-bottom:5px;padding-top:3px;">
                <div class="w3-container w3-margin">
                    <a href="{% url 'hood' hood_id=hood.id %}">
                        <strong><i class="fas fa-map-marker-alt"></i> {{ hood.name }}, </strong>
                        <strong>{{hood.location}}</strong>
                    </a>
                </div>

                <header class="hovereffect" style="height:300px">
                    <img src=" {{ hood.image.cdn_url }}" class="img-responsive w3-image w3-center"
                        style="min-height:100%; max-height:100%">
                </header>

                <div class="w3-container w3-margin">
                    <p><a class="info w3-btn w3-round-xxlarge w3-pink" href="{% url 'join' hood_id=hood.id %}">
                            Join Hood </a></p>
                </div>

            </div>
        </div>
        
        {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}